body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* xacthuc */
.xacthuc-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* khung form */
.xacthuc-box{
    width: 550px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* tiêu đề */
.xacthuc-box h2{
    text-align: center;
    color: #d4a017;
    font-size: 40px;
    margin-bottom: 10px;
}

.xacthuc-box h3{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 26px;
}

.input-group{
    margin-bottom: 20px;
}

/* ICON */
.input-group i{
    position: absolute;
    margin-top: 17px;
    margin-left: 15px;
    color: #777;
}

/* nhập */
form input{
    width: 100%;
    padding: 15px 15px 15px 45px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

/* BUTTON */
.xacthuc-btn{
    width: 100%;
    padding: 15px;
    border: none;
    background: #d4a017;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.xacthuc-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.xacthuc-links a,
.xacthuc-links button{
    border: none;
    background: none;
    text-decoration: none;
    color: #666;
    font-size: 15px;
    cursor: pointer;
}

/* quên mật khau */
#forgotBox{
    display: none;
}

/* quay lai */
.back-login{
    text-align: center;
    margin-top: 20px;
}

.back-login button{
    border: none;
    background: none;
    color: #666;
    font-size: 15px;
    cursor: pointer;
}