.sidebar-item{
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 16px;
    border-radius:12px;
    transition:.3s;
}

.sidebar-item:hover{
    background:#f3f4f6;
}

.sidebar-bottom-item{
    display:flex;
    gap:12px;
    align-items:center;
    padding:12px;
    border-radius:10px;
    margin-bottom:6px;
}

.sidebar-bottom-item:hover{
    background:#f3f4f6;
}